In [1]:
# Dependencies and Setup
import pandas as pd
import os
import glob
from datetime import datetime
import numpy as np

In [2]:
# bike18_df= pd.concat(map(pd.read_csv, glob.glob('Data/18/*.csv')))
# bike18_df

In [3]:
# bike18_df.to_csv('bike18.csv')

In [2]:
bike19_df= pd.concat(map(pd.read_csv, glob.glob('Data/19/*.csv')))
bike19_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1
19724,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1
19725,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717733,-74.043845,26276,Subscriber,1984,1
19726,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1
19727,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1

In [6]:
bike19_df.info()
bike19_df['DateTime'] = pd.to_datetime(bike19_df['starttime'])
bike19_df['Date'] = bike19_df['DateTime'].dt.strftime('%d/%m/%Y')
bike19_df['Time'] = bike19_df['DateTime'].dt.strftime('%H:%M')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404947 entries, 0 to 19727
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             404947 non-null  int64
 1   starttime                404947 non-null  object
 2   stoptime                 404947 non-null  object
 3   start station id         404947 non-null  int64
 4   start station name       404947 non-null  object
 5   start station latitude   404947 non-null  float64
 6   start station longitude  404947 non-null  float64
 7   end station id           404947 non-null  int64
 8   end station name         404947 non-null  object
 9   end station latitude     404947 non-null  float64
 10  end station longitude    404947 non-null  float64
 11  bikeid                   404947 non-null  int64
 12  usertype                 404947 non-null  object
 13  birth year               404947 non-null  int64
 14  gender                   404947 non-null  int64
 15  DateTime                 404947 non-null  datetime64[ns]
 16  Date                     404947 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(6), object(6)
memory usage: 55.6+ MB

In [13]:
bike19_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'DateTime', 'Date', 'Time'],
      dtype='object')

In [14]:
bike19_df.to_csv('bike19.csv')

In [15]:
bike20_df= pd.concat(map(pd.read_csv, glob.glob('Data/20/*.csv')))
bike20_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36916,2828,2020-06-30 23:53:19.7380,2020-07-01 00:40:28.5760,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,0
36917,2729,2020-06-30 23:54:44.0100,2020-07-01 00:40:13.6470,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,0
36918,2788,2020-06-30 23:54:52.1920,2020-07-01 00:41:20.6500,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,0
36919,2702,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,0
36920,2649,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,2

In [22]:
bike20_df.info()
bike20_df['DateTime'] = pd.to_datetime(bike20_df['starttime'])
bike20_df['Date'] = bike20_df['DateTime'].dt.strftime('%d/%m/%Y')
bike20_df['Time'] = bike20_df['DateTime'].dt.strftime('%H:%M')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137967 entries, 0 to 36920
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             137967 non-null  int64
 1   starttime                137967 non-null  object
 2   stoptime                 137967 non-null  object
 3   start station id         137967 non-null  int64
 4   start station name       137967 non-null  object
 5   start station latitude   137967 non-null  float64
 6   start station longitude  137967 non-null  float64
 7   end station id           137967 non-null  int64
 8   end station name         137967 non-null  object
 9   end station latitude     137967 non-null  float64
 10  end station longitude    137967 non-null  float64
 11  bikeid                   137967 non-null  int64
 12  usertype                 137967 non-null  object
 13  birth year               137967 non-null  int64
 14  gender                   137967 non-null  int64
 15  DateTime                 137967 non-null  datetime64[ns]
 16  Date                     137967 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(6), object(6)
memory usage: 18.9+ MB

In [23]:
bike20_df.to_csv('bike20.csv')

In [24]:
bike20_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'DateTime', 'Date', 'Time'],
      dtype='object')